body {
  margin: 0;
  background-color: black;
}
#game-screen {
  display: none;
  max-width: 900px;
  margin: 0 auto;
  align-content: center;
  padding: 50px 50px;
  overflow: hidden;
  position: relative;
  background-image: url(../images/stage01.png);
  background-size: cover;
  background-position-x: 0px;
  /* animation: 3s linear 1s infinite running slidein; */
}



.logo-img {
  width: 50%;
  height: auto;
}

#game-intro {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding-bottom: 75px;
}

#game-intro p {
  font-family: "ArcadeClassic", sans-serif;
  color: white;
  font-size: 2.5em;
  margin: 20px;
}

#game-intro h5 {
  font-family: "ArcadeClassic", sans-serif;

  padding: 10px;
  font-size: 1.5em;
  background-color: #f1c40f;
  color: white;
  border: none;
  border-radius: 5px;
}
#game-intro p1 {
  color: #f1c40f;
}

#game-container {
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}

#game-end {
  padding-top: 50px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding-bottom: 75px;
  align-content: center;

}

#game-end p {
  font-family: "ArcadeClassic", sans-serif;
  color: white;
  font-size: 2.5em;
  margin: 20px;
  text-align: center;
  
}

#game-end p1 {
  color: #f1c40f;
}

#game-end h1 {
  font-family: "ArcadeClassic", sans-serif;

  padding: 10px;
  font-size: 8em;
  text-align: center;
  color: white;
  border: none;
  border-radius: 5px;
} 

#game-end .charlie-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Path: js/main.js */